
@body-color: #fff;

body {
  color: @body-color;
  font-family: sans-serif;
  text-align: center;

  .map{
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 0;
    top: 0;
    // transform: translate(-50%,-50%);
    // border: 1px solid #2B3A42;
  }
}

